%section{style: "margin-top: -20px"}
  .jumbotron.img-responsive{:style => "background: url(#{asset_url '177625.png'}) no-repeat center center; background-size: cover; opacity: 1; "}
    .container.text-xs-center.text-white
      %h1.display-3{:style => ""} Nancy McGuckin
      %p.lead{:style => "text-transform: uppercase;"} Travel Behavior Analyst
      %br
%section{style: "margin-top: -30px;"}
  .page-container
    %br
      %h2.text-xs-center
        What Is Travel Behavior?
      %p{style: "margin-left: 60px; margin-right: 60px; margin-top: 20px; margin-bottom: 20px;"}
        Travel behavior is the way people move in the public realm by all means of transportation and for all purposes. Many of the activities people engage in are separated by space, which requires people to travel: work and meetings, lunch with friends, visiting family, attending school.
      %p{style: "margin-left: 60px; margin-right: 60px; margin-top: 20px; margin-bottom: 20px;"}
        The study of Travel Behavior includes understanding and quantifying the choices people make about how and when and with whom they travel are based on their specific constraints, habits, options, and even cultural or gender norms. For instance, how people travel to work (by car, bus, subway, or walk), the time they leave, and the duration and type of stops they make on the way, are important aspects of travel behavior analysis.  Other topics include understanding travel by special population groups--such as new immigrants, young people, or the elderly--how gas prices and economics influence travel, vehicle ownership and use, and many, many more topics.
      %p{style: "margin-left: 60px; margin-right: 60px; margin-top: 20px; margin-bottom: 20px;"}
        This website provides access to some of my work.  My goal is to make it easier for researchers, analysts, reporters, students, and any others with an interest in transportation to locate analysis on topics of interest. There is a wide variety of products that cover over two decades, so if you can’t find something (try the search function) I would be happy to hear from you!
    %hr.featurette-divider
    .row
      .container{style: 'width: 70%;'}
        .text-xs-center
          %h3
            Explore:
    .row
      .container{style: 'width: 70%; margin-bottom: 20px;'}
        .text-xs-center
          = link_to 'Topic Briefs', topic_briefs_path, class: 'btn btn-lg btn-secondary'
          = link_to 'Presentations', publications_path(anchor: 'power-points'), class: 'btn btn-lg btn-secondary'
          = link_to 'Publications', publications_path(anchor: 'publications'), class: 'btn btn-lg btn-secondary'
          = link_to 'Projects', projects_path, class: 'btn btn-lg btn-secondary'
          = render partial: 'contact_modal'
    %hr.featurette-divider
    .row
      .container{style: 'width: 90%;'}
        .text-xs-center
          %h3
            Recent News:
    .row
      .container{style: 'width: 90%;'}
        .flex-row.row
          - @updates.each do |update|
            .col-md-3.col-lg-3
              .thumbnail
                - unless update.image_url.blank?
                  = image_tag(update.image_url)
                .caption
                  %h4
                    - if update.link
                      = link_to update.title, update.link, target: :blank
                    - else
                      = update.title
                  %p.flex-text
                    = update.content

    -# %hr.featurette-divider
    -# .row
    -#   .container{style: 'width: 70%; margin-bottom: 20px;'}
    -#     .text-xs-center
    -#       = render partial: 'contact_modal'
