%section{style: "margin-top: -20px"}
  .jumbotron.img-responsive{:style => "background: url(#{asset_url 'highways.jpeg'}) no-repeat center center; background-size: cover; opacity: 1; "}
    .container.text-xs-center.text-white
      %h1.display-3{:style => ""} Nancy McGuckin
      %p.lead{:style => "text-transform: uppercase;"} Expertise in the Interpretation and Forecasting of Travel
      %br
%section{style: "margin-top: -30px;"}
  .page-container
    %br
    .text-xs-center
      %h2
        What Is Travel Behavior?
      %p{style: "margin-left: 60px; margin-right: 60px; margin-top: 20px; margin-bottom: 20px;"}
        Travel behavior is the way people move in the public realm by all means of travel and for all purposes. Some of the activities people want to engage in are separated by space, which requires people to travel. The choices they make in order to travel are based on options, constraints, habits, and opportunities. For instance, how people travel to work (by car, bus, subway, or walk), the time they leave, and the duration and type of stops they make on the way, are important aspects of travel behavior.
    %hr.featurette-divider
    .row
      .container{style: 'width: 70%;'}
        .text-xs-center
          %h3
            Select Clients:
        .row
          .container{style: 'width: 70%; margin-top: 20px;'}
            .text-xs-center
              .col-xs-3
                = image_tag('triple-a.png', width: '175px', class: 'img-responsive')
              .col-xs-3
                = image_tag('AASHTO_logo.gif', width: '175px', class: 'img-responsive')
              .col-xs-3
                = image_tag('activelivingresearch.png', width: '175px', class: 'img-responsive')
              .col-xs-3
                = image_tag('aarp-logo-print.png', width: '175px', class: 'img-responsive')
        .row
          .container{style: 'width: 70%; margin-top: 20px;'}
            .text-xs-center
              .col-xs-3
                = image_tag('caltrans.png', width: '175px', class: 'img-responsive')
              .col-xs-3
                = image_tag('nymtc.png', width: '175px', class: 'img-responsive')
              .col-xs-3
                = image_tag('safe-routes.png', width: '175px', class: 'img-responsive')
              .col-xs-3
                = image_tag('rand.png', width: '175px', class: 'img-responsive')

        .row
          .container{style: 'width: 70%; margin-top: 20px;'}
            .text-xs-center
              .col-xs-3
                = image_tag('national-academies.jpg', width: '175px', class: 'img-responsive')
              .col-xs-3
                = image_tag('fha.png', width: '175px', class: 'img-responsive')
              .col-xs-3
                = image_tag('NYSDOT.png', width: '175px', class: 'img-responsive')
              .col-xs-3
                = image_tag('tti.png', width: '175px', class: 'img-responsive')
        .row
          .container{style: 'width: 70%; margin-top: 20px; margin-bottom: 20px;'}
            .text-xs-center
              .col-xs-3.col-xs-offset-3
                = image_tag('tcrp.png', width: '175px', class: 'img-responsive')
              .col-xs-3
                = image_tag('pasadena.png', width: '175px', class: 'img-responsive')
    .row
      .container{style: 'width: 70%; margin-bottom: 20px;'}
        .text-xs-center
          = render partial: 'contact_modal'
