%section{style: "margin-top: -20px"}
  .jumbotron.img-responsive{:style => "background: url(#{asset_url 'IMG_1383.png'}) no-repeat center center; background-size: cover; opacity: 1; "}
    .container.text-xs-center.text-white
      %h1.display-3{:style => ""} Projects
      %p.lead{:style => "text-transform: uppercase;"} Travel Behavior Analyst
      %br
%section{style: "margin-top: -30px;"}
  .page-container
    %p{style: "margin-left: 60px; margin-right: 60px; margin-top: 20px; margin-bottom: 20px;"}
    %hr.featurette-divider
    %br
    .row
      .col-xs-10.col-xs-offset-1
        #accordion.panel-group
          - @projects.order(:heading_position).map(:heading).uniq.each_with_index do |heading, index|
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#heading_#{index}"}
                    = heading.titleize
              .panel-collapse.collapse{:id => "heading_#{index}"}
                .panel-body{style: 'color:black;'}
                  %ul
                    - @projects.where(heading: heading).each do |project|
                      %li{style: 'font-weight:bold;'}
                        - if project.pdf.present?
                          = link_to "#{project.title}", document_path(project, :format => 'pdf'), target: :blank
                        - elsif project.link_url.present?
                          = link_to "#{project.title}", "#{project.link_url}", target: :blank
                        - else
                          = project.title
                        - if project.summary.present?
                          %p{style: 'font-weight:normal;'}= project.summary

    .row
      .container{style: 'width: 70%; margin-bottom: 20px;'}
        .text-xs-center
          = render partial: 'contact_modal'
        %br
