%section{style: "margin-top: -20px"}
  .jumbotron.img-responsive{:style => "background: url(#{asset_url 'IMG_1383.JPG'}) no-repeat center center; background-size: cover; opacity: 1; "}
    .container.text-xs-center.text-white
      %h1.display-3{:style => ""} Projects
      %p.lead{:style => "text-transform: uppercase;"} Expertise in the Interpretation and Forecasting of Travel
      %br
%section{style: "margin-top: -30px;"}
  .page-container
    %p{style: "margin-left: 60px; margin-right: 60px; margin-top: 20px; margin-bottom: 20px;"}
    %hr.featurette-divider
    %br
    .row
      .col-xs-10.col-xs-offset-1
        #accordion.panel-group
          - @projects.pluck(:category).uniq.each_with_index do |category, index|
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#category_#{index}"}
                    = category.titleize
              .panel-collapse.collapse{:id => "category_#{index}"}
                .panel-body
                  %ul
                    - @projects.where(category: category).each do |project|
                      %li
                        = link_to "#{project.title}", document_path(project, :format => 'pdf')
    %hr.featurette-divider
    .row
      .container{style: 'width: 70%;'}
        .text-xs-center
          %h3
            Let's Work Together!
    .row
      .container{style: 'width: 70%; margin-bottom: 20px;'}
        .text-xs-center
          = render partial: 'contact_modal'
