%section{style: "margin-top: -20px"}
  .jumbotron.img-responsive{:style => "background: url(#{asset_url 'IMG_1372.png'}) no-repeat center center; background-size: cover; opacity: 1; "}
    .container.text-xs-center.text-white
      %h1.display-3{:style => ""} Publications
      %p.lead{:style => "text-transform: uppercase;"} Travel Behavior Analyst
      %br
%section{style: "margin-top: -30px;"}
  .page-container
    %p{style: "margin-left: 60px; margin-right: 60px; margin-top: 20px; margin-bottom: 20px;"}
    %hr.featurette-divider
    %br
    %a{name: 'power-points'}
    %h2.text-center
      Presentations
    %br
      .row
        .col-xs-10.col-xs-offset-1
          #accordion.panel-group
            - @power_point_headings.each_with_index do |heading, index|
              .panel.panel-default
                .panel-heading
                  %h4.panel-title
                    %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#heading_#{index}"}
                      = heading.titleize
                .panel-collapse.collapse{:id => "heading_#{index}"}
                  .panel-body{style: 'color:black;'}
                    %ul
                      - @power_points.where(heading: heading).each do |power_point|
                        %li
                          - if power_point.pdf.present?
                            = link_to "#{power_point.title}", document_path(power_point, :format => 'pdf'), target: :blank
                          - elsif power_point.link_url.present?
                            = link_to "#{power_point.title}", "#{power_point.link_url}", target: :blank
                          - else
                            = power_point.title
    %br
    %a{name: 'publications'}
    %h2.text-center
      Publications
    %br
    .row
      .col-xs-10.col-xs-offset-1
        #accordion.panel-group
          - @publication_headings.each_with_index do |heading, index|
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#category_#{index}"}
                    = heading.titleize
              .panel-collapse.collapse{:id => "category_#{index}"}
                .panel-body{style: 'color:black;'}
                  %ul
                    - @publications.where(heading: heading).each do |publication|
                      %li
                        - if publication.pdf.present?
                          = link_to "#{publication.title}", document_path(publication, :format => 'pdf'), target: :blank
                        - elsif publication.link_url.present?
                          = link_to "#{publication.title}", "#{publication.link_url}", target: :blank
                        - else
                          = link_to publication.title

    .row
      .container{style: 'width: 70%; margin-bottom: 20px;'}
        .text-xs-center
          = render partial: 'contact_modal'
        %br
