%section{style: "margin-top: -20px"}
  .jumbotron.img-responsive{:style => "background: url(#{asset_url 'IMG_1381.png'}) no-repeat center center; background-size: cover; opacity: 1; "}
    .container.text-xs-center.text-white
      %h1.display-3{:style => ""} Search Results
      %p.lead{:style => "text-transform: uppercase;"} Travel Behavior Analyst
      %br
%section{style: "margin-top: -30px;"}
  .page-container
    %br
    .row
      .col-md-10.col-md-offset-1
        %h3.text-center
          You searched for: "#{@search_term}"
        %br
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#topic_briefs"}
                  Topic Briefs (#{@topic_briefs.count})
            .panel-collapse.collapse{:id => "topic_briefs"}
              .panel-body{style: 'color: black;'}
                .row
                .col-md-9
                  - if @topic_briefs.any?
                    %ul
                      - @topic_briefs.each do |topic_brief|
                        %li
                          = link_to "#{topic_brief.title.titleize} - (#{topic_brief.heading&.titleize})", document_path(topic_brief, :format => 'pdf')
                  - else
                    No results found
                .col-md-3
                  = link_to 'See All Topic Briefs', topic_briefs_path, class: 'btn btn-sm btn-secondary'
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#publications"}
                  Publications (#{@publications.count})
            .panel-collapse.collapse{:id => "publications"}
              .panel-body{style: 'color: black;'}
                .row
                .col-md-9
                  - if @publications.any?
                    %ul
                      - @publications.each do |publication|
                        %li
                          = link_to "#{publication.title.titleize}", document_path(publication, :format => 'pdf')
                  - else
                    No results found
                .col-md-3
                  = link_to 'See All Publications', publications_path, class: 'btn btn-sm btn-secondary'
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#power_points"}
                  Presentations (#{@power_points.count})
            .panel-collapse.collapse{:id => "power_points"}
              .panel-body{style: 'color: black;'}
                .row
                .col-md-9
                  - if @power_points.any?
                    %ul
                      - @power_points.each do |power_point|
                        %li
                          = link_to "#{power_point.title.titleize} - (#{power_point.heading&.titleize})", document_path(power_point, :format => 'pdf')
                  - else
                    No results found
                .col-md-3
                  = link_to 'See All Power Points',  publications_path(anchor: 'power-points'), class: 'btn btn-sm btn-secondary'
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#projects"}
                  Projects (#{@projects.count})
            .panel-collapse.collapse{:id => "projects"}
              .panel-body{style: 'color: black;'}
                .row
                .col-md-9
                  - if @projects.any?
                    %ul
                      - @projects.each do |project|
                        %li
                          = link_to "#{project.title.titleize} - (#{project.category&.titleize})", document_path(project, :format => 'pdf')
                  - else
                    No results found
                .col-md-3
                  = link_to 'See All Projects', projects_path, class: 'btn btn-sm btn-secondary'
    %br

    .row
      .container{style: 'width: 70%;'}
        .text-xs-center
          %h3{style: 'color: black;'}
            Let's Work Together!
    .row
      .container{style: 'width: 70%; margin-bottom: 20px;'}
        .text-xs-center
          = render partial: 'contact_modal'
