%section{style: "margin-top: -20px"}
  .jumbotron.img-responsive{:style => "background: url(#{asset_url 'IMG_1380.png'}) no-repeat center center; background-size: cover; opacity: 1; "}
    .container.text-xs-center.text-white
      %h1.display-3{:style => ""} Topic Briefs
      %p.lead{:style => "text-transform: uppercase;"} Travel Behavior Analyst
      %br
%section{style: "margin-top: -30px;"}
  .page-container
    %p{style: "margin-left: 60px; margin-right: 60px; margin-top: 20px; margin-bottom: 20px;"}
    %hr.featurette-divider
    %br
    .row
      .col-xs-10.col-xs-offset-1
        #accordion.panel-group
          - @topic_briefs.pluck(:heading).uniq.each_with_index do |heading, index|
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#heading_#{index}"}
                    = heading.titleize
              .panel-collapse.collapse{:id => "heading_#{index}"}
                .panel-body
                  %ul
                    - @topic_briefs.where(heading: heading).each do |topic_brief|
                      %li
                        - if topic_brief.pdf.present?
                          = link_to "#{topic_brief.title.titleize}", document_path(topic_brief, :format => 'pdf', target: :blank)
                        - else
                          = link_to "#{topic_brief.title.titleize}", "#{topic_brief.link_url}", target: :blank

    .row
      .container{style: 'width: 70%; margin-bottom: 20px;'}
        .text-xs-center
          = render partial: 'contact_modal'
        %br
