%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Nancy McGuckin", home_path, class: 'navbar-brand'

    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Home', home_path
        %li
          = link_to "Topic Briefs", topic_briefs_path
        %li
          = link_to "Publications", publications_path
        %li
          = link_to "Projects", projects_path
        %li
          = link_to "Consultant Services", consultant_services_path
        %li
          = link_to "Select Clients", select_clients_path
        %li
          = link_to "About Me", about_path
      = form_tag '/search_results', :method => :get, id: 'search_bar', class: 'navbar-form navbar-right' do
        = text_field_tag :search, nil, placeholder: 'Search Documents', class: 'form-control', style: "width: 200px;"
        = submit_tag 'Search!', class: 'btn btn-default'
      -# %form.navbar-form.navbar-right
      -#   .form-group
      -#     %input.form-control{:placeholder => "Search Keywords in Documents", :type => "text", style: "width: 250px;"}/
      -#   %button.btn.btn-default{:type => "submit"} Search!
