<!DOCTYPE html>
<html>
  <head>
    <title>TravelBehavior</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta NAME="Keywords" Content="Nancy_McGuckin, travel_behavior_analyst, travel_behavior, travel, land_use, TRB, transportation_research_board, NHTS, NPR, National_Public_Radio, Driverless_Cars, autonomous_vehicles, Baby_boomers, Immigrant_travel, carbon_footprint, Carbon_impact, Land_planning, National_Highway_Transportation_Safety, highway_safety, fuel_economy, roadway_capacity, driver_education, air_quality, air_pollution, National_Household_Travel_Survey, travel_flow, poverty, mobility, travel_culture, travel_demographics, Internet, toll-road, commute, highway, fuel_costs, US_economy, diversity, peak_travel, travel_demand, highway_congestion, forecasting_traffic, traffic_congestion, air_quality, transportation_finance, non-drivers, traffic_volume, Starbucks_effect, travel_survey, changing_demographic_patterns, minority_population, US_policy, vehicle_ownership, US_Dept_of_Transportation, transportation_planning, carbon_footprint, environmental_issues, transportation, trip_chaining, green_travel, eco-travel, transportation_studies, bicycle, city_streets, train, car, truck, automobile, air_travel, consultant, travel_consultant_services, trip-chaining, traffic_congestion, gridlock, travel analysis, automobile, commute, forecasting, policy_planning, infrastructure_development, migration, bike, train, bus, car, walk, alternative_travel, vehicles, travel_forecast, aging, seniors, older_drivers, travel_to_work , census, disaster_travel, immigration, fuel_efficiency, economic_factors, land_use, energy_use, baby_boomers, emergency_responce, pedestrian_safety, fuel_efficiency, race_and_ethnicity, eco, , high_risk_drivers, women_as_passengers, travel_systems , commuting, traffic_patterns, gas_cost, greenhouse_gasses, US_fleet, fuel_efficiency, electronic_communication_ and_travel, decline_of_teenage_drivers, commercial_and_residential_land_use , long_distance_travel, rush_hour, US_travel, women's_travel_patterns, migration, travel_safety, Internet_effect_on_travel, Men's_travel_behavior, Women's_travel_behavior, travel_trands_of_the_aging_workforce, travel_stress, poverty_and_mobility, Hurricane_Katrina, aging_cars, gridlock, Transporation_Research_Record, commute_times, minority_travel_behavior, commuting_behavior, employment_data, Commercial_travel, Truck_traffic, No_telephone_service, Data_fusion, Recursive_partitioning_regression, Urban_planning, Hard-to-reach_populations, NCHRP, mobility_in_American_Life, Travel_by_Older_Americans">

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  </head>
  <%= render partial: 'layouts/navbar' %>
  <%= render partial: 'layouts/messages' %>
  <body class='container-fluid'>
    <%= yield %>
    <footer class="footer m-t-1">
    </br>
      <div class="container m-b-1 text-xs-center">
        <span class="text-muted">
          &copy; 2017 Travel Behavior Analyst | All Rights Reserved.
        </span>
        </br>
        <span class='text-muted'>
          No part of any publications or any material on this website
          may be used in any way, cannot be copied or duplicated  by any means including electronic,
          without express written permission from this author, Nancy A. McGuckin.
        </span>
      </div>
      <div class="container m-b-1 text-xs-center">
        <%= link_to 'Admin Login', new_admin_session_path %>
      </div>
    </br>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-103573643-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>

</html>
